/*------ Settings ------*/
.container {
  --color: rgb(253, 255, 243);
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: rgb(253, 255, 243);
}

.container .chevron-right {
  animation: keyframes-return 0.5s backwards;
}

/* ------ On check event ------ */
.container input:checked ~ .chevron-right {
  animation: keyframes-rotate 0.5s backwards;
  transform: rotate(180deg);
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
